@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/kayak-sans');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-primaria);
}

:root {
    --cor-primaria: #FC4B37;
    --cor-secundaria: #000;
    --cor-terciaria: #FFF;
    --cor-quaternaria: #F4F4F4;
    --cor-auxiliar1: #111;
    --cor-auxiliar2: #222529;

    --fonte-primaria: 'Satoshi', sans-serif;
    --fonte-secundaria: 'Kayak Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cor-terciaria);
    padding: 20px 0;
    box-sizing: border-box;
}

#nomeSite {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 30px;
}

#menuHeader ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

#menuHeader a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.botaoLink {
    text-decoration: none;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 35px;
    text-align: center;
    transition: 0.5s;
}

header .botaoLink, #introducao .botaoLink {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border: solid 1px var(--cor-terciaria);
}

header .botaoLink:hover, #introducao .botaoLink:hover {
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    transition: 0.5s;
}

#features .botaoLink {
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    border: solid 1px var(--cor-primaria);
}

#features .botaoLink:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border-color: var(--cor-secundaria);
    transition: 0.5s;
}

#introducao {
    padding-top: 215px;
    padding-bottom: 140px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
}

#tituloIntroducao {
    font-weight: 700;
    font-size: 100px;
}

#botoesIntroducao, #botoesFeatures {
    display: flex;
    justify-content: space-center;
    gap: 20px;
}

#laptop {
    margin-top: 30px;
    width: 80%;
}

#apresentacao {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
}

#inicioApresentacao {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    width: 50%;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 10px;
}

#inicioApresentacao p, #apresentacaoProduto1 p {
    font-size: 18px;
}

#apresentacaoProduto1, #apresentacaoProduto2 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img[src="assets/interface1.png"] {
    width: 40%;
    border: var(--cor-quaternaria) 50px solid;
    border-left: none;
    border-radius: 20px;
}

#descricaoProduto1, #descricaoProduto2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.sobretitulo {
    color: var(--cor-primaria);
}

#descricaoProduto1 ul, #descricaoProduto2 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-weight: 500;
}

img[src="assets/check.png"] {
    width: 15px;
    margin-right: 5px;
}

img[src="assets/interface2.png"] {
    width: 40%;
    border: var(--cor-quaternaria) 50px solid;
    border-right: none;
    border-radius: 20px;
}

#features {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#features h2 {
    margin-bottom: 0;
    text-align: center;
}

#destaque {
    color: var(--cor-primaria);
}

#featureCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: var(--cor-quaternaria);
    padding: 25px 20px 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

img[src^="assets/iconFeature"] {
    width: 60px;
}

.tituloFeature {
    font-weight: 700;
}

#features .card p {
    font-weight: 400;
}

#avaliacoes {
    color: var(--cor-terciaria);
    background-color: var(--cor-auxiliar1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 120px 0;
}

#descricaoSecaoAvaliacoes {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#descricaoSecaoAvaliacoes h2 {
    font-weight: 700;
}

#descricaoSecaoAvaliacoes p {
    width: 70%;
    font-weight: 400;
}

#conjuntoAvaliacoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
}

.cardAvaliacao {
    background-color: var(--cor-auxiliar2);
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
}

.outrasInformacoesAvaliacao {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.informacoesUsuario {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
}

.avatar {
    width: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}

.nota, .nomeUsuario {
    align-self: center;
}

.aspas {
    width: 100px;
}

#botoesNavegacaoAvaliacoes {
    display: flex;
    gap: 20px;
}

#botoesNavegacaoAvaliacoes i {
    background-color: var(--cor-auxiliar2);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

#botoesNavegacaoAvaliacoes i:hover {
    background-color: var(--cor-primaria);
    transition: 0.5s;
}

#conteudoFooter {
    margin: auto;
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    width: 90%;
}

#propositoGroclone {
    width: 25%;
    margin-right: 300px;
}

#propositoGroclone h2 {
    color: var(--cor-primaria);
    font-size: 40px;
}

#propositoGroclone p {
    font-size: 15px;
}

#conteudoFooter ul {
    font-size: 13px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoriaLinks {
    font-weight: 700;
    font-size: 14px;
}

#conteudoFooter a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

address {
    font-style: normal;
}

#contatoRedes {
    display: flex;
    gap: 5px;
}

.fa-brands {
    background-color: var(--cor-secundaria);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

hr {
    margin: auto;
    width: 95%;
}

#informacoesFinais {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    font-size: 11px;
}

.aparecer {
    display: none;
}


@media (max-width: 956px) {
    #apresentacaoProduto1, #apresentacaoProduto2 {
        gap: 50px;
    }

    #apresentacaoProduto1 {
        flex-direction: column;
    }

    #apresentacaoProduto2 {
        flex-direction: column-reverse;
    }

    #apresentacaoProduto1 > *, #apresentacaoProduto2 > * {
        width: 100%;
    }

    #tituloIntroducao {
        font-size: 44px;
    }

    .aparecer {
        display: inline;
    }

    .desaparecer {
        display: none;
    }
    
    header {
        justify-content: space-between;
        padding: 20px;
    }

    #introducao {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    h2 {
        font-size: 30px;
    }

    p, .botaoLink{
        font-size: 14px;
    }

    #apresentacao {
        gap: 100px;
    }

    #inicioApresentacao, #descricaoSecaoAvaliacoes {
        width: 90%;
    }

    #featureCards {
        grid-template-columns: 1fr;
    }

    h3 {
        font-size: 22px;
    }

    img[src^="assets/interface"] {
        border-width: 25px;
    }

    .cardAvaliacao {
        width: 90%;
    }

    .aspas {
        width: 50px;
    }

    .avatar {
        width: 28px;
    }

    .nota {
        width: 50px;
    }

    #conteudoFooter {
        margin: auto;
        display: grid;
        row-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
        padding: 100px 0;
    }

    #conteudoFooter > * {
        justify-self: center;
    }

    #propositoGroclone {
        grid-column-start: 1;
        grid-column-end: 3;
        width: initial;
        margin-right: 100px;
    }

    #propositoGroclone h2 {
        font-size: 24px;
    }

    #propositoGroclone p {
        font-size: 12px;
    }

    .categoriaLinks {
        font-size: 16px;
    }

    address {
        grid-row-start: 1;
        grid-column-start: 3;
    }

    #conteudoFooter ul {
        font-size: 14px;
    }

    #informacoesFinais {
        padding: 25px 20px;
    }

    #informacoesFinais p {
        font-size: 10px;
    }


}